<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RoutineTracker</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <!-- create a container for the todo list -->
    <div id="todo-container">
      <!-- todo list header -->
      <div id="header">
        <h1>RoutineTracker</h1>
      </div>
      <div>
        <a href="/tracker/weeklytracker"><h1>weeklytracker</h1></a>
      </div>
      <!-- create input box -->
      <div id="todo-form">
        <input
          type="text"
          class="input-item"
          name="input_box"
          id="input-box"
          placeholder="Add Task"
        />

        <!-- add button  -->
        <button id="input-button" onclick="addTask()">Add</button>
      </div>

      <!-- task list -->
      <h2>Task List</h2>
      <ul id="list-container">
        <% 
          let completedCount = 0;
          let uncompletedCount = 0;
          
          if (tasks) { 
        %>
          <% tasks.forEach((task, index) => { %>
            <% if(task.status !='done'){ 
                uncompletedCount++;
            %>
              <li>
                <label>
                  <input type="checkbox" id="checkbox-<%= index %>" data-task-id="<%= task.id %>">
                  <span><%= task.name %></span>
                </label>
                <span class="edit-btn">Edit</span>
                <span class="delete-btn">Delete</span>
              </li>
            <% } else { 
                completedCount++;
            %>
              <hr>
              <ul>
                <li class="completed"><%= task.name %></li>
              </ul>
            <% } %>
          <% }) %>
        <% } else { %>
          <li>
            <span>There are no tasks! Please add some tasks.</span>
          </li>
        <% } %>
        <div class="counter-container">
          <div id="task-counters">
            Completed: <span id="completed-counter"><%= completedCount %></span> | Uncompleted:
            <span id="uncompleted-counter"><%= uncompletedCount %></span>
          </div>
        </div>
      </ul>
    </div>
    <script type="text/javascript" src="scripts/scripts.js"></script>
  </body>
</html>